{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        [
            "babel-plugin-transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}