<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航栏管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="https://statics.sheinside.cn/common/antd/3.1.0/antd.min.css" rel="stylesheet">
    <link rel="icon" href="<%= require('./src/logo.png') %>" type="image/x-icon">
</head>
<body>
<div id="container"></div>

<script src="https://statics.sheinside.cn/common/??babel-polyfill/6.26.0/polyfill.min.js,react/16.2.0/umd/react.production.min.js,lodash/4.17.4/lodash.min.js,moment/2.18.1/moment.min.js,react-dom/16.2.0/umd/react-dom.production.min.js"></script>

<script src="https://statics.sheinside.cn/common/antd/3.1.0/antd.min.js"></script>
</body>
</html>