.navTop {
    text-align:right;
    width:100%;
    border-bottom:1px solid #e9e9e9;
    padding-right:20px;
    height:40px;
    line-height:40px;
}
.navTop span {
    text-decoration:underline;
    cursor:pointer;
}
.container {
    display:flex;
}
.leftMenu {
    width:240px;
}
.rightCon {
    flex:1;
    padding:0 20px;
}
.bread {
    height:40px;
    line-height:40px;
}
.itemCon {

}

/**  ***/

.antLayoutAside {
    position: relative;
    min-height: 100%;
}
.antLayoutLogo {
    width: 100%;
    height: 32px;
    margin: 10px 0;
    color: #999;
    font-size:20px;
    text-align: center;white-space: nowrap;
}
.antLayoutSider {
    width: 180px;
    position: fixed;
    overflow: auto;
    height: 100%; background-color: #000c17;
    transition: all 0.3s ease ;
}

.antLayoutSider > .ant-menu {
    margin-bottom: 20px;
}

.antLayoutHeader {
    background: #fff;
    height: 64px;line-height:64px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 20px; text-align: right;
}

.antLayoutBreadcrumb {
    margin: 7px 0 -17px 24px;
}

.antLayoutMain {
    margin-left: 180px;
    background-color: #000c17;
    height:100%;
    transition: all 0.3s ease ;
}

.antLayoutContainer {
    margin: 24px 16px;
}

.antLayoutContent {
    background: #fff;
    padding:15px;min-height: 680px;
}
.antLayoutFooter {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #999;
    border-top: 1px solid #e9e9e9;
}

.marginR {
    margin:0 10px;
}
.antLayoutright{
    position: fixed;
    right: 30px;
    top: 12px;
}
.antLayoutright a{
    margin-right:10px;
    color: #fff;
}
.antLayouttop{
    padding: 8px 0;

}
a.linkcolor{
    color: #fff;
}
.expandBtn{
    margin-right: 25px;
    border: none;
    color: #fff;
}
