.loginInputBg {
    text-align:center;
}
.loginInput {
    margin:12px auto;
    height: 37px;
    width:79%;
    border-radius: 0;
}
.loginButton {
    margin:14px auto;
    width:40%;
    height: 40px;
    border: none;
    background-color:#0F4172;
}
.loginButton:hover {
    background-color:#0F4172;
}
.loginButton span {
    font-weight: 100;

}
.loginBg {
    width:100%;
    text-align:center;
    padding-top:8%; overflow: hidden;
    background-size: 30px 30px;
    background-color: #11244d;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .02) 5%, transparent 5%,
    transparent 10%, rgba(255, 255, 255, .02) 10%,
    rgba(255, 255, 255, .02) 15%, transparent 15%,
    transparent 20%, rgba(255, 255, 255, .02) 20%,
    rgba(255, 255, 255, .02) 25%, transparent 25%,
    transparent 30%, rgba(255, 255, 255, .02) 30%,
    rgba(255, 255, 255, .02) 35%, transparent 35%,
    transparent 40%, rgba(255, 255, 255, .02) 40%,
    rgba(255, 255, 255, .02) 45%, transparent 45%,
    transparent 50%, rgba(255, 255, 255, .02) 50%,
    rgba(255, 255, 255, .02) 55%, transparent 55%,
    transparent 60%, rgba(255, 255, 255, .02) 60%,
    rgba(255, 255, 255, .02) 65%, transparent 65%,
    transparent 70%, rgba(255, 255, 255, .02) 70%,
    rgba(255, 255, 255, .02) 75%, transparent 75%,
    transparent 80%, rgba(255, 255, 255, .02) 80%,
    rgba(255, 255, 255, .02) 85%, transparent 85%,
    transparent 90%, rgba(255, 255, 255, .02) 90%,
    rgba(255, 255, 255, .02) 95%, transparent 95%,
    transparent);
}
.loginBg::after {
    content: "";
    position: absolute;left:0;bottom:0;
    width:100%;height:100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 40%, rgba(33,81,122,1));
}
.loginBorder {
    width:450px;
    height:351px;
    z-index: 10;
    margin:0 auto;
    position: relative;
}
.loginBorderCon {
    width:450px;
    height:351px;
    padding:30px 65px 50px;
    background-color:#fff;
    z-index: 10;
    position: absolute;
}

.loginBorderBg1 {
    width: 367px;
    height: 570px;
    transform: rotate(52deg);
    position: absolute;
    top: 35px;
    left: 154px;
    z-index: 5;
    background: linear-gradient(to right, rgba(10, 30, 60, .5), transparent);
}

.loginTitle {
    font-size: 30px;
    line-height: 70px;
    margin:0 auto 15px;
    border-bottom:1px dashed #eeeef5;
    color: #0c3665;
}
.loginIcon {
    display: inline-block;
    vertical-align: middle;margin-right:10px;
    color: #1c4469;
}
.loginlogo {
    width:120px;
    height:120px;
    border-radius: 60px;
    margin: -100px auto 0;
    background-size: 30px 30px;
    background-color: #11244d;
    background-image: linear-gradient(135deg,
    rgba(255, 255, 255, .02) 5%, transparent 5%,
    transparent 10%, rgba(255, 255, 255, .02) 10%,
    rgba(255, 255, 255, .02) 15%, transparent 15%,
    transparent 20%, rgba(255, 255, 255, .02) 20%,
    rgba(255, 255, 255, .02) 25%, transparent 25%,
    transparent 30%, rgba(255, 255, 255, .02) 30%,
    rgba(255, 255, 255, .02) 35%, transparent 35%,
    transparent 40%, rgba(255, 255, 255, .02) 40%,
    rgba(255, 255, 255, .02) 45%, transparent 45%,
    transparent 50%, rgba(255, 255, 255, .02) 50%,
    rgba(255, 255, 255, .02) 55%, transparent 55%,
    transparent 60%, rgba(255, 255, 255, .02) 60%,
    rgba(255, 255, 255, .02) 65%, transparent 65%,
    transparent 70%, rgba(255, 255, 255, .02) 70%,
    rgba(255, 255, 255, .02) 75%, transparent 75%,
    transparent 80%, rgba(255, 255, 255, .02) 80%,
    rgba(255, 255, 255, .02) 85%, transparent 85%,
    transparent 90%, rgba(255, 255, 255, .02) 90%,
    rgba(255, 255, 255, .02) 95%, transparent 95%,
    transparent);
}
.loginlogo img {
    margin-top: 55px;
    width: 70px;}

.hr {
    opacity: 0;
}
.loginBorderBg {
    margin:0 10px;
}
.loginLeft {
    width:20%;
    font-size:14px;
    display: inline-block;
    text-align: left;
}